body {
  font-family: Arial, "sans-serif";
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

main {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

form {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th,
td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
  text-align: center;
}

th {
  background-color: #333;
  color: #fff;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  form {
    flex-direction: column;
  }

  h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  table,
  th,
  td {
    font-size: 0.7rem;
  }
}
